@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.blackNav {
  background-color: black;
  width: 100%;
  color: white;
  padding: 10px;
  display: flex;

  text-align: center;
  align-items: center;
}

.item{
  margin-left: 20px;
}

.animesBanner img{
  position: relative;
  height: 600px;
  width:100%;
}

.animesBanner h1{
    position: absolute;
    bottom: 245px;
    left: 50px;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    color: white;
    font-size: 50px;
    max-width: 550px;
    font-family: 'Titillium Web', sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
  --swiper-theme-color:#fff;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}